/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 15px;
  color: gray;
  padding-bottom: 5px;
}





/* header部分 */
header {
  background-color: black;
  opacity: 0.8;
  font-size: 25px;
  font-weight: bold;
  margin: 0px ;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}

header p {
  color: white;
  padding: 15px 30px;
  font-size: 20px;
}


/* top-wrapper部分 */

.top-wrapper {
  height: 100vh;
  width: auto;
  background-image: url(/Users/shoujiatsushi/Documents/入社前課題フォルダ/image/bacgroundimage_1.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  margin: 0px;
  
}

.top-wrapper h1 {
  padding-top: 40vh;
  font-size: 60px;
  margin: 0px auto;
  color: #d6b307;
  font-weight: bold;
}



/* container-wrapper部分 */
.container-wrapper {
  background-image: url(/Users/shoujiatsushi/Documents/入社前課題フォルダ/image/bacgroundimage_2.png);
  background-size: cover;
  height:40vw;
  padding: 0px 30px;
}



/* container部分 */
.container {
  width: 33.3%;
  float: left;
  margin-top: 5vw;
}

.container-image {
  width: 100%;
  /* padding: 0px 1.5% 10px; */
  opacity: 0.5;
  vertical-align: bottom; /* 画像したのスペース削除 */

}

.container-title {
  font-size: 25px;
  color: rgb(49, 47, 47);
}




/* 全体設定 */
* {
  box-sizing: border-box;
  }

/* ポップアップウインドウの設定 */
.popup {
  background-color: #efefef;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, .8);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 80vw;
  height: 40vw;
  overflow-y: scroll;
  z-index: 10;
}
/* チェックボックスの初期設定 */
#popup-on-contents{
  display: none;
}
/* チェックされたらポップアップウインドウを開く */
#popup-on-contents:checked + .popup{
  display: block;
}

/* チェックボックスの初期設定 */
#popup-on-status{
  display: none;
}
/* チェックされたらポップアップウインドウを開く */
#popup-on-status:checked + .popup{
  display: block;
}

/* チェックボックスの初期設定 */
#popup-on-darkside{
  display: none;
}
/* チェックされたらポップアップウインドウを開く */
#popup-on-darkside:checked + .popup{
  display: block;
}



/* 閉じるアイコン（右上） */
.icon-close{
  color: #fff;
  font-size: 15px;
  margin: 5px;
  position: absolute;
  right: 0;
  z-index: 11;
  line-height: 15px;
  opacity: 0.8;
}


/* 開くボタン */
.btn-open{
  background: #fff;
  color: #fff;
  cursor: pointer;
  width: 98%;
  margin: 0 auto;
}

.popup-content {
  text-align: center;
}

.popup-contents {
  float: left;
  width: 33.3%;
  margin: 0px auto;
}
.popup-img {
  width: 24vw;
  opacity: 0.7;
}

.popup-titile {
  font-size: large;
}

.popup-titile span {
  font-size: 13px;
  color: gray;
  font-weight: bold;
}

.popup-text {
  font-size: small;
  width: 90%;
  margin: auto;
}

.popup-header {
  font-size: 30px;
  color: white;
  background-color: black;
  opacity: 0.9;
  margin-bottom: 5vh;
}



/* hover時にタイトルの表示 */
.btn-open {
	position:	relative;
}
.btn-open .caption {
	font-size: 130%;
	text-align:	center;
	color: #fff;
}
.btn-open .mask {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left:	0;
	opacity: 0;	/* マスクを表示しない */
	background-color:	rgba(0,0,0,0.4);
	-webkit-transition:	all 0.6s ease;
	transition:	all 0.6s ease;
}
.btn-open:hover .mask {
	opacity: 1;	/* マスクを表示する */
	padding-top: 80%;	/* ホバーで下にずらす */
}



